*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  height: 0;
}

#container {
  background-color: #222;
  color: white;
  border-color: #222;
  padding: 15px;
}

#info {
  margin: 15px 0;
}

#toggle {
  width: max-content;
  display: flex;
  flex-flow: row;
  align-items: center;
}

#links {
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

#links a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

#toggle-title {
  margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: red;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #555;
}

input:focus + .slider {
  box-shadow: 0 0 1px #555;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 18px;
  color: red;
}

.slider.round:before {
  border-radius: 50%;
}
